





Html {font-size: 16px;}

body {background-color:rgb(255, 221, 231);
  font-family: 'Rubik'; 
  font-size:16px;
  color:rgb(168, 34, 73);
}


h1 {color:rgb(115, 8, 29);
  text-decoration:underline; 
  font-size:2.06rem;
  font-family:'Merriweather sans';
margin:0.5rem;
text-align:center;
 }

 h2{font-size:1.3rem;
  color:rgb(99, 37, 56);
  font-family:'Montserrat';
  Margin:0.5rem;
  text-align: center;
}

h3{text-decoration: underline; 
  color:rgb(150, 44, 77); 
  font-family:'Montserrat';
margin:0.5rem;
}

p{font-size:1rem;margin:0.5rem;
}

a {color:whitesmoke;
text-decoration: none; font-family:'montserrat'; font-size:0.97rem;
}

img {margin:0.5rem;}

div.test > img {display: block;
  margin-left: auto;
  margin-right: auto;}

.figfix { margin-bottom: 0rem;display: block;
  margin-left: auto;
  margin-right: auto;}

ul{ list-style-type: none;
  margin: 0px;
  padding: 0px; 
}


#active {
  background-color:palevioletred; 
}

nav.navbar > ul > li {display:inline;
  border-right: 0.17rem solid white;
  font-size:1rem;
padding:0.3rem;
padding-left:0.3rem;

}
.home{border-left:0.17rem solid white}

.navbar{display:flex;justify-content: center;}



.primarybackground{background-color:rgb(73, 1, 24);
  color:mistyrose; 
  font-size:0.89rem;
padding:0.3rem;
padding-left:0;
padding-right:0;
overflow:hidden;

}



figcaption {background-color:palevioletred;
  color:mistyrose;
  font-style: italic;
text-align:center;
width:14.77rem;
padding:2px;
display: block;
  margin-left: auto;
  margin-right: auto;;
}


#linkedin {font-family:'noto sans';
  color:rgb(255, 145, 177);
  font-size:0.89rem; }

footer {position:static; font-family:'noto sans';
padding:0.5rem; text-align:center;
}

footer>div {display:block;}

/**
 * Contact page stuff. Rem the title 'Hannah' and then rem the pics and forms so it works on phones
put linkedin far right
 */
#contact {text-decoration:none; }

 /**
 * top 5 page
 */

.listalign {text-align: left;}
ol{text-align:center;}

 
.fixlink {color:rgb(237, 78, 124); font-size:1rem;font-weight:800;}

input[type=text] {width:100%; padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color:rgb(97, 14, 38);
  color: mistyrose;
  font-size:1rem;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

form {border-radius: 5px;
  background-color: rgb(255, 191, 193);
  padding: 15px;
width:15rem;

display: block;
  margin-left: auto;
  margin-right: auto;
}



@media screen and (min-width: 768px) 
{ body { background-color: rgb(255, 230, 233);} 
html{font-size:18px;}
.navbar{padding-top:0.1rem;padding-left:0;display:flex;justify-content: left;}
nav>ul {padding-top:0rem;}
#active{padding-top:0.3rem;}

.home{border-left: none}

.test {display: flex-inline; flex-direction:row-reverse;}
div.test > img {float:right;}

a{font-size:1.2rem;}
h1{font-size:2.4rem;}
h2{font-size:1.8rem;}
footer{text-align:left;}
footer>div{display:inline;font-size:0.75rem;}
footer.primarybackground{padding-left:0.5rem;}
#linkedin{font-size:0.75rem;}


figure > img { margin-bottom: 0rem; display: block;
  margin-left: auto;
  margin-right: auto;}




form{width:18rem;}
}
